body {
  background-image: url(./../assets/images/background-map.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

#output-section {
  display: none;
  text-align: center;
}

#main-content {
  background-color: rgba(100, 99, 99, 0.582);
  height: 400px;
  color: rgb(210, 255, 127);
  text-align: center;
  padding: 100px;
}

.jumbotron {
  text-align: center;
}